@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px; /* Base font size for rem units */
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

@layer components {
  .glass-card {
    @apply backdrop-blur-[3px] bg-linear-to-r from-[rgba(232,232,232,0.15)] via-[rgba(242,228,213,0.29)] to-[rgba(222,222,222,0.29)] border border-black/10 rounded-[6px] p-4;
  }
}

/* p { font-size: 1rem; line-height: 1.6; } */

/* Scrollbar styling (optional) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}