@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

@layer components {
  .glass-card {
    @apply backdrop-blur-[3px] bg-linear-to-r from-[rgba(232,232,232,0.15)] via-[rgba(242,228,213,0.29)] to-[rgba(222,222,222,0.29)] border border-black/10 rounded-[6px] p-4;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.modak-text {
  font-family: 'Rubik Wet Paint', cursive;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

.chokokutai-regular {
  font-family: "Chokokutai", cursive;
  font-weight: 400;
  font-style: normal;
}


.grecaptcha-badge {
  z-index: 9999 !important;
}